@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
*
{
    margin: 0;
    padding: 0;
}
body
{
   overflow: hidden; 
   width: 100vw;
   height: 100vh;
   box-sizing: border-box;
   font-family: 'poppins';
   background: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-eye-0001_2_0.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=efbf83e72da8461f9547e57a50bc3261) center no-repeat;
   background-size: cover;
}
header
{
    height: 100px;
    width: 100%;
    display: flex;
}
#left
{
    height: 100%;
    width: 20%;
    
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#left #raz
{
    
    font-weight: bolder;
    font-size: 25px;
    border-bottom: 1px solid black;
    padding: 10px 0 20px 10px;
    
}
#right
{
    height: 100%;
    width: 80%;
    flex-direction: row;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 5%;
    
}
#right button
{
    width: 170px;
    height: 40px;
    background-color: gold;
    border: none;
    border-radius: 10px;
    margin-left: 30px;
}
#right a
{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#right img
{
    margin-right: 10px;
}
#wrapper 
{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
#screen
{
    width: 30%;
    height: 100%;
    border: none;
    border-radius: 50px;
    background-color: white;
}
#text
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 30px;
    height: 100px;
}
#text h2
{
    font-weight: 600;
    font-size: 30px;
}
#text p
{
    font-size: 20px;
}
#content
{
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
form
{
    height: 100%;
    width: 85%;
}
.inputbox
{
    width: 100%;
    height: 55px;
    position: relative;
    margin: 40px 0 20px 0;
    
}
.inputbox + .inputbox
{
    width: 100%;
    height: 55px;
    position: relative;
    margin: 20px 0 25px 0;
    
}
.inputbox input
{
    width: 96%;
    height: 50px;
    border: 1px solid grey;
    border-radius: 10px;
    outline: none;
    padding: 0 0 0 10px;
    background-color: transparent;
    font-size: 20px;
}
.inputbox label
{
    position: absolute;
    top: 20%;
    left: 15px;
    color: gray;
    pointer-events: none;
}
.inputbox img 
{
    position: absolute;
    top: 25%;
    right: 5%;
}
#signIn
{
    margin: 25px 0 0 0;
}
#signIn button
{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: gold;
    font-size: 15px;
}
#or
{
    width: 100%;
    margin: 25px 0 15px 0;
    text-align: center;
}
.buttons
{
    width: 100%;
    display: flex;
}
.buttons button
{
    margin-left: 1%;
    width: 32%;
    height: 50px;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 10px;
    flex-direction: row;
    text-align: center;
    padding-right: 6%;
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.buttons  img
{
  float: left;
  padding-left: 15px;
}
.buttons p
{
    padding-top: 5px;
}
#register
{
    width: 100%;
    margin: 30px 0 0 0;
    text-align: center;
    font-size: 15px;
}
#copyright
{
    width: 100%;
    margin: 30px 0 0 0;
    text-align: center;
}
input.clicked + label
{
    opacity: 0;
}
#ab
{
    position: absolute;
    top: 95%;
    left: 27%;
    font-size: medium;
    font-weight: 200;
    border: none;
}
#ab img
{
    float: right;
    margin-left: 15px;
}
